@import "../../../../styles/variables.scss";

.modal-edit-group {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;

  .modal-content {
    width: 50%;
    max-height: 100%;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: $text;
    }

    h2 {
      color: $primary-color;
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      label {
        font-size: 16px;
        color: $text;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      input[type="text"],
      input[type="file"] {
        padding: 10px;
        border: 1px solid $light-gray;
        border-radius: 5px;
      }

      .members-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h3 {
          color: $primary-color;
          margin-bottom: 10px;
        }

        .add-member {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;

          input {
            flex: 1;
            padding: 10px;
            border: 1px solid $light-gray;
            border-radius: 5px;
          }

          button {
            padding: 10px;
            background-color: $primary-color;
            color: $white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .member-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border: 1px solid $light-gray;
          border-radius: 5px;
          margin-bottom: 10px;

          button {
            background-color: transparent;
            border: none;
            color: red;
            cursor: pointer;
          }
        }
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        button {
          width: 100%;
          padding: 10px;
          background-color: $primary-color;
          color: $white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.05);
          }
        }

        .remove-button {
          background-color: red;
        }
      }
    }
  }
}