.call-action {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;

    .message-wrapper {
        display: flex;
        align-items: center;

        .bot-icon {
            margin-right: 10px;
            background-color: #d4d4d4;
            border-radius: 50%;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            img {
                width: 24px;
                height: 24px;
            }
        }

        .message-container {
            display: flex;
            align-items: center;
            gap: 10px; /* Espaçamento entre a mensagem e o ícone de carregamento */
            width: 80%;
            background-color: #d4d4d4;
            color: black;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.5s ease-in-out, slideUp 0.5s ease-in-out;
            position: relative;
            z-index: 1; /* Adicionando z-index para garantir que a mensagem esteja no plano correto */
            p {
                margin: 0;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -7px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-right-color: #d4d4d4;
                border-left: 0;
            }
        }
    }

   
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}