@import "../../styles/variables.scss";

.loginRegister-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
  }
  
  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $secondary-color;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease;
    z-index: 1;

    button{
      padding: 10px;
      background-color: $primary-color;
      color: $white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      &:hover{
        transform: scale(1.05);
      }
    
    }
  }
  
  .move-left {
    transform: translateX(0);
  }
  
  .move-right {
    transform: translateX(100%);
  }
  
  .form-container {
    width: 100%;
    display: flex;
  }
  
  .login,
  .register {
    width: 50%;
    padding: 2rem;
  }  