@import "../../../../styles/variables.scss";

.map-widget-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  border: 2px solid #004736;
  z-index: 15;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: width 0.3s, height 0.3s;

  &.collapsed {
    width: 40px;
    height: 40px;
  }

  .toggle-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10000;
    background-color: #ffffff;
    color: #004736;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
