@import "../../../../styles/variables.scss";

.config-welcome-container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 20px;
  gap: 20px;

  h3 {
    font-size: 1.5rem;
    color: $text;
    text-align: center;
  }

  textarea {
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 5px;
  }

  label {
    color: $text;

    input[type="checkbox"]{
      margin-right: 5px;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
