@import "../../../../styles/variables.scss";

@keyframes slideInZoom {
  0% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.access-container {
  width: 350px;
  height: calc(100% - 20px);
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  gap: 10px;
  position: relative;
  animation: slideInZoom 0.3s ease;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .text {
      font-size: 1.2rem;
      color: $text;
    }

    .context-menu {
      position: relative;

      .context-menu-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $text;
        position: relative;
      }

      .context-menu-items {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $white;
        border: 1px solid $light-gray;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        width: 150px;
        margin-top: 5px;

        button {
          display: block;
          width: 100%;
          padding: 10px 20px;
          background: none;
          border: none;
          cursor: pointer;
          text-align: left;
          color: $text;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: $light-gray;
  }

  .topics {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        font-size: 1rem;
        color: $text;
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $text;
      }
    }

    .items-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: auto;

      .item-container {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative; /* Add position relative to member-container */

        .item {
          position: relative;
          width: calc(100% - 30px);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }

          .text {
            font-size: 1rem;
            color: $text;
          }

          span {
            position: absolute;
            right: 0;
          }
        }

        .edit-button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          margin-left: auto;
          padding: 0;

          &:hover {
            color: darken($primary-color, 10%);
          }
        }

        .edit-member-dropdown,
        .edit-group-dropdown {
          background-color: $white;
          border: 1px solid $light-gray;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          z-index: 1000;
          width: 150px;
          margin-top: 5px;

          button {
            display: block;
            width: 100%;
            padding: 10px 20px;
            background: none;
            border: none;
            cursor: pointer;
            text-align: left;
            color: $text;

            &:hover {
              background-color: $secondary-color;
            }
          }
        }
      }
    }
  }
}
