.call-action {
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h2 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      color: #333;
    }
  
    p {
      font-size: 1rem;
      color: #666;
    }
  }
  