.app-container {
  width: 100%;
  height: 100%;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid #ccc;
    border-top: 0.4rem solid #004736;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
